{% extends 'layout.html.twig' %}

{% block title %}Cupones{% endblock %}

{% block bread %}
    <li class="breadcrumb-item d-flex justify-content-start align-items-center">
        <a href="{{ path('admin') }}" class="pr-md-3 pl-md-2 pr-2 pl-1">Administraci&oacute;n</a>
    </li>
    <li class="breadcrumb-item active">Cupones</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-3">
            {# New Form #}
            <div class="card border-success mb-3">
                <div class="card-header bg-success fw-bold text-white-50">NUEVO CUP&Oacute;N</div>
                <div class="card-body">
                    {{ include('coupon/_form.html.twig') }}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>C&oacute;digo</th>
                    <th>Creado</th>
                    <th>Promoci&oacute;n</th>
                    <th class="text-end">Consumido</th>
                    <th class="text-end">
                        <i class="bi-check-square-fill"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>
                        <td>{{ coupon.code }}</td>
                        <td>{{ coupon.createdAt|date('d/m/Y') }}</td>
                        <td>{{ coupon.promoName }}</td>
                        <td class="text-end">{{ coupon.consumedAt ? coupon.consumedAt|date('d/m/Y') : '---' }}</td>
                        <td class="text-end">
                            {% if coupon.consumedAt %}
                                <i class="bi-check-square-fill"></i>
                            {% else %}
                                <form method="post" action="{{ path('coupon_consume', {'id': coupon.id}) }}">
                                    <button type="submit" class="btn btn-sm btn-link p-0">
                                        <i class="bi-check-square-fill text-success"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">no hay cupones</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
