{% for ticket in tickets %}
    <div class="card border-0 shadow-sm mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center">
                {% if ticket.client.isMale %}
                    <img
                            src="{{ asset('build/img/generic-male-avatar.png') }}"
                            class="rounded me-3"
                            alt="Generic male avatar"
                            height="50"
                    >
                {% else %}
                    <img
                            src="{{ asset('build/img/generic-female-avatar.png') }}"
                            class="rounded me-3"
                            alt="Generic female avatar"
                            height="50"
                    >
                {% endif %}

                <div class="flex-grow-1">
                    <strong>{{ ticket.client.name }}</strong><br>
                    <small class="text-muted">
                        {{ ticket.createdAt|date('d M, H:i') }}
                        &bull;
                        {{ ticket.client.ci }}
                    </small>
                </div>

                <div>
                    {% if ticket.isFromToday %}
                        <span class="font-monospace">
                        {{ ticket.price|money|format_currency('USD') }}
                    </span>
                    {% else %}
                        <span class="badge bg-secondary">pagado</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p class="text-center text-muted">
        <small>no hay clientes activos hoy</small>
    </p>
{% endfor %}