{% extends 'layout.html.twig' %}

{% block title %}Administraci&oacute;n{% endblock %}

{% block bread %}
    <li class="breadcrumb-item active">Administraci&oacute;n</li>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-6 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('coupon_index') }}" class="card-link">
                        CUPONES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_game_index') }}" class="card-link">
                        JUEGOS
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_client_index') }}" class="card-link">
                        CLIENTES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_location_index') }}" class="card-link">
                        UBICACIONES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_account_index') }}" class="card-link">
                        CUENTAS
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_asset_index') }}" class="card-link">
                        ACTIVOS FIJOS
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}