{% extends 'layout.html.twig' %}

{% block title %}Administraci&oacute;n{% endblock %}

{% block bread %}
    <li class="breadcrumb-item active">Administraci&oacute;n</li>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-6 g-3 mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('app_client_index') }}" class="card-link">
                        <i class="bi-people-fill fs-1"></i><br>
                        CLIENTES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('app_game_index') }}" class="card-link">
                        <i class="bi-joystick fs-1"></i><br>
                        JUEGOS
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('session_index') }}" class="card-link">
                        <i class="bi-dice-6-fill fs-1"></i><br>
                        SESIONES
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-6 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('ticket_index') }}" class="card-link">
                        <i class="bi-ticket fs-1"></i><br>
                        PASES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('coupon_index') }}" class="card-link">
                        <i class="bi-ticket-perforated-fill fs-1"></i><br>
                        CUPONES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('app_location_index') }}" class="card-link">
                        <i class="bi-pin-map-fill fs-1"></i><br>
                        UBICACIONES
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('app_account_index') }}" class="card-link">
                        <i class="bi-piggy-bank-fill fs-1"></i><br>
                        CUENTAS
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ path('app_asset_index') }}" class="card-link">
                        <i class="bi-box-seam-fill fs-1"></i><br>
                        ACTIVOS FIJOS
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}