{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div {{ stimulus_controller('main', {
        fetchClientByCi: path('client_api_getby_ci'),
        newTicketUrl: path('api_ticket_new'),
        loadDailyTicketsUrl: path('ticket_api_get_validtoday')
    }) }}>
        <div class="row">
            <div class="col-12 col-md-3">
                <h2 class="h5 border-bottom border-2 pb-2 d-flex justify-content-between align-items-center">
                    <span>Pases de hoy</span>
                    <button
                            type="button"
                            class="btn btn-link"
                            data-bs-toggle="collapse"
                            data-bs-target="#ticketCollapseForm"
                            aria-expanded="false"
                            aria-controls="ticketCollapseForm"
                    >
                        <i class="bi-plus-lg"></i>
                    </button>
                </h2>

                <div class="collapse mb-3" id="ticketCollapseForm">
                    <form
                            class="row g-3"
                            autocomplete="off"
                            {{ stimulus_action('main', 'submitTicket') }}
                    >
                        <div class="col-12 col-md-8">
                            <label for="ticketCi" class="visually-hidden">CI</label>
                            <input
                                    type="text"
                                    id="ticketCi"
                                    name="ticketCi"
                                    class="form-control"
                                    minlength="11"
                                    maxlength="11"
                                    placeholder="CARNE DE IDENTIDAD"
                                    required
                                    {{ stimulus_action('main', 'onCiChange') }}
                            >
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="ticketCoupon" class="visually-hidden">Cup&oacute;n</label>
                            <input
                                    type="text"
                                    id="ticketCoupon"
                                    name="ticketCoupon"
                                    class="form-control"
                                    placeholder="CUPON"
                            >
                        </div>

                        <div class="col-12">
                            <label for="ticketName" class="visually-hidden">Nombre</label>
                            <input
                                    type="text"
                                    id="ticketName"
                                    name="ticketName"
                                    class="form-control"
                                    placeholder="NOMBRE"
                                    required
                                    style="text-transform: uppercase;"
                            >
                        </div>

                        <input type="submit" hidden/>
                    </form>
                </div>

                <div {{ stimulus_target('main', 'dailyTicketsList') }}>
                    {{ include('fragments/_spinner.html.twig') }}
                </div>
            </div>

            <div class="col-12 col-md-6"></div>

            <div class="col-12 col-md-3"></div>
        </div>
    </div>
{% endblock %}